body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-weight: normal; font-style: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
ul{list-style: none;padding:0;margin: 0;}
a:hover{text-decoration:none;}
a{text-decoration:none;}
html,body{
    font-family:'微软雅黑', Helvetica Neue, Helvetica, Arial, sans-serif;
}
.container{
    min-width: 1200px!important;
}
.myh div {
   font-size:16px!important;
}
btn{
    outline:none;
}
.btn-ok,.btn-no{
    margin: 0!important;
}
.pingxing a {
    font-size:16px!important;
}

.swiper-pagination-bullet-active {
    background: #00dfb9!important;
}
.lcss>h4>b,.myswipert{
    font-size:16px!important;
}
.san{
    color:#999!important;
}
.ji {
    font-size: 14px!important;
}
.contmain .bao {
    font-size: 14px!important;
}
.navbar-toggle:hover{
 background: inherit!important;
}
*{
    font-family: MicrosoftYaHei;

}
[v-cloak] {
display: none;
} 
input{outline: none}
.container-fluid{
    padding: 0;
}
/*siteNav*/
.siteNav{
      display: none;
  }
.siteNav .dropdown .btn{
   background:none;
   padding: 6px 2px;
}
.siteNav .dropdown .btn img{
    vertical-align: top;
}
.siteNav .place{
    padding-left: 0;
}
.siteNav .siteNav_welcome{
    line-height: 34px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
    position: relative;
}
.siteNav_right{
    text-align: right;
}
.siteNav .weixin{
    cursor: pointer;
}
.siteNav .weixin_img{
    width: 150px;
    height: 150px;
    padding: 15px 15px 15px 0;
    position: absolute;
    z-index: 999;
    top: 22px;
    left: 0;
}
.siteNav .siteNav_welcome a:nth-child(1){
    color: #00dfb9;
}
.siteNav .siteNav_welcome a:nth-child(2){
    color: #666666;
}
/* header */
.l_header{
   /* height: 9.6rem;*/
    height: 557px;
}
.l_header .navbar{
    margin-bottom: 0;
    z-index: 99;
}
.l_header .navbar-default{
    background-color: rgba(0, 0, 0, 0.6);    height: 111px;
    border:none;
    border-radius: inherit;
    position: relative;
    top: -4px;
}
.l_header .navbar-default .container{
    height: 100%;
}
.l_header .navbar-header{
    position: relative;   
}
#navbar-menu{float:right;}
.navbar-header{ margin-top: 30px;}
.l_header .navbar-default .navbar-nav{
  
}
.l_header .navbar-collapse{
    padding-right: 0;
}
.l_header .navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 1.6rem;
    text-align: center;
    height: 100%;
    font-weight: normal;
}

#navbar-menu{margin-top:30px;}
.l_header #person .navbar-nav>li>a {
    padding: 9px 0;

}
.l_header #person .nav>li{
   width:100%;
}
.l_header .navbar-default .nav>li{
    height: 81px;
}
.l_header .navbar-default .nav li:hover{
    border-bottom:4px solid #B2B2B2;
}
.l_header .navbar-default .nav li a:hover{
    color: #00dfb9;
}
.l_header .header-swiper-container{
    width: 100%;
    height: 560px;
    position: relative;
    top: -9.6rem;
}
.l_header .header-swiper-container .swiper-slide img{
    width: 100%;
}
.l_header .person{
    display: none;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 11px;
}
.l_header #person{
        position: absolute;
    display: none;
    right: 0px;
    top: 50px;
    /* width: 180px; */
    cursor: pointer;
}
.navbar-toggle {
    padding: 5px 3px;    margin-top: 11px;
}
.l_header .person img{
    cursor: pointer;
    width: 100%;
}
.l_header #person li:nth-child(1){
    height: 111px!important;
    text-align: center;
    width:100%;
}
.l_header #person li:nth-child(1) div{
    color: #999;
    font-size: 16px;
}
/*footer*/
.footer{
    background-color: #4e4848;
    height: 21.4rem;
}
.footer .footerBox{
    color: white;
    padding-top: 7.5rem;
    font-size: 1.4rem;
    text-align: center;
}
.footer .footerBox span{
    display: inline-block;
    width: 9%;
    text-align: center;
}
.footer .footerBox span:nth-child(1){
    padding-left: 0;
}
.footer .footerBox span a{
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}
.footer .footerBox span a:hover{
    color: #2ccaaf;
}
.footer .Copy{
    font-size: 1.4rem;
    padding:3rem 0;
    color:#fff;
}
.modal_tip{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal_box{
    width: 380px;
    height: 400px;
    margin: 0 auto;
    margin-top:20rem;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    color: #999999;
}
.modal_box .modal_close{
    width: 100%;
    height: 32px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.modal_box .modal_close img{
    cursor: pointer;
}
.modal_box .modal_title{
    width: 100%;
    height: 70px;
    padding-top: 14px;
    padding-bottom: 36px;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: 0px;
    color: #00dfb9;
}
.modal_box input{
    margin: 0 auto;
    width: 286px;
    height:38px;
}
.modal_box .passWord{
    margin-top: 20px;
}
.modal_box .state{
    margin: 28px auto;
    width: 286px;
    height:38px;
}
.modal_box .checkbox{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    float: left;
    cursor:pointer;
}
.modal_box .state span{
    float: left;
}
.modal_box .state div{
    cursor: pointer;
    float: right;
}
.modal_box .state div:hover{
    color: #00dfb9;
}
.modal_box .login {
    background-color: #00dfb9;
    width: 286px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 1.6rem;
    font-weight: inherit;
    margin: 0 auto;
    margin-bottom: 25px;
    cursor: pointer;
}
.modal_box .register{
    width: 100%;
    text-align: right;
    padding-right: 58px;
}
.modal_box .register span{
    color: #00dfb9;
    cursor: pointer;
}
/*公共样式*/
.bid_navBox .activ{
    background-color: #0ab7c7!important;
    color: white!important;
}
/*媒介查询*/
@media screen and (max-width: 1200px) {
    .footer .footerBox span{
        width:10%;
    }
    .container{
        min-width: 1200px!important;
        width: 1200px!important;
    }
    .title .myh {
        width: 90%!important;
    }
}
@media screen and (max-width: 768px) {
    .l_header .navbar-default .nav li:hover {
        border-bottom: none!important;

    }
    .l_header .navbar-default .nav li a:hover {
       color: #00dfb9!important;

    }
    .container{
        min-width: inherit!important;
        width: 100%!important;
    }

    #navbar-menu{clear:none;    float: none;}
    .navbar-nav {
    margin: 7.5px 0;
}
.footer{display: none}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0; 
}
.addrbox .myimgp{margin:-3px 3px 0 0;}
    .navbar-header {
        margin-top: 0;
    }
    #navbar-menu{margin-top:0;}
    .sear img{      height: 30px;
    position: absolute;
    right: 0px;
    top: 0;}
    .mswiper1{
        position: absolute;
        bottom: 20px;
        z-index: 1;
        left: 50%;
        margin-left: -113px;
    }
    .mswiper1 span{color:#fff;    font-size: 14px;}
    .mswiper1 input{      width: 175px;  background: rgba(255,255,255,.8);
    border: 0;font-size: 12px;
    height: 30px;
    padding: 2px 12px;
    border-radius: 15px;}
    .mswiper{display:block!important;}
    .siteNav,.pswiper{
        display:none!important;
    }
    .modal_box{
        width: 320px!important;
        margin-top: 120px!important;
    }
    .l_header{
        height: 174px!important;
        position: relative;    margin-bottom: 20px;
    }
    .l_header .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        width: 120px;
        padding-bottom: 30px;
        background-color: #fff;
        box-shadow: 0px 10px 18px 2px rgba(70, 71, 72, 0.5);
        border-radius: 0px 0px 4px 4px;
    }
    .l_header .navbar-default .navbar-nav>li>a{
        color: #666!important;
    }
    .l_header .navbar-default .navbar-nav{
        
    }
    .l_header .navbar-default .nav>li{
         height: auto!important;
    }
    .l_header .navbar-default{
        height: 50px!important;
    }
    .l_header .navbar-toggle{
        float: left!important;
        margin-left: 20px;
    }
    .l_header .logo{
            position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 10px;
    }
    .l_header .logo img{
        width: 120px!important;
        height:auto!important;
    }
    .l_header .header-swiper-container{
        height: 240px!important; 
    }
    .l_header .person{
        display: block!important;
    }
    .footer .footerBox{
        padding-top: 4.8rem!important;
    }
}