<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>品牌传媒</title>
    <link rel="stylesheet" href="../../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/css/swiper.min.css">
    <link rel="stylesheet" href="../../common/css/base.css"/>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
<div id="app" v-cloak>
	    <!--header-->
		<sitenav></sitenav>
	    <div class="title">
	    	<div class="swiper-container-nav">
		        <div class="myh swiper-wrapper clearfix">
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 swiper-slide col-lg-offset-1" @click="searchcli($event,'business')">商业品牌</div>
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 swiper-slide " @click="searchcli($event,'Qc_management')">品控管理</div>
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 swiper-slide " @click="searchcli($event,'promotion')">品牌推广</div>
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 swiper-slide myhight" @click="searchcli($event,'media')">品牌传媒</div>
		            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 swiper-slide " @click="searchcli($event,'forum')">品牌论坛</div>
		        </div>
	        </div>
	    </div>
        <div class="cont container" style="margin-bottom: 100px">
			<div class="manbox clearfix">
				<div class="mtitlebox zhibotitle" style="display: none"><h3>品牌活动</h3></div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 videobox pczhibo">
					<div v-for="(item,index) in videodata" style="position: relative;">
						<video @click="playvideo($event,index)" class="videoobj" :class="'videoobj'+index" style="width:100%; object-fit: fill">
						  	<source :src="item.src"/>
						  	<source :src="item.src"/>
							Your browser does not support the video tag.
						</video>
						<div class="videotitle">{{item.title}}</div>
					</div>
				</div>
				<div class="mozhibo clearfix" style="display: none">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb" v-for="(item,index) in videodata" style="position: relative;">
						<video @click="playvideo($event,index)" class="videoobj" :class="'videoobj'+index" style="width:100%; object-fit: fill">
							<source :src="item.src"/>
							<source :src="item.src"/>
							Your browser does not support the video tag.
						</video>
						<div class="videotitle">{{item.title}}</div>
					</div>
				</div>
				<div class="mnone" style="display: none"><img src="../../common/img/icon/zk.png" width="60" @click="zhibomore($event)"></div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 vediotitle">
					<ul class="clearfix">
						<li><a @click="clickfun($event,'videoobj0')" class="myacbgd">什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj1')">什么是直播？什么是直播？什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj2')">什么是直播？什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj3')">什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj4')">什么是直播？什么是直播？什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj5')">什么是直播？什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj6')">什么是直播？什么是直播？</a></li>
						<li><a @click="clickfun($event,'videoobj7')">什么是直播？</a></li>
					</ul>
				</div>
			</div>
			<div class="manbox">
				<div class="mtitlebox"><h3>品牌活动</h3></div>
				<div class="mcontbox clearfix pcbox">
					<div class="mcontleft col-lg-9 col-md-9 col-sm-9 col-xs-12">
						<div class="row" style="margin-bottom:15px">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 mb">
								<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
									<div class="botttitle">活动标题</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb">
								<div class="mycontimg1" style="background: url('../../common/img/images/img1.png'); background-position: 50%;background-size: cover;"><div class="botttitle">活动标题</div></div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb">
								<div class="mycontimg1" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover"><div class="botttitle">活动标题</div></div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 mb">
								<div class="mycontimg1" style="background: url('../../common/img/images/img1.png'); background-position: 50%;background-size: cover;"><div class="botttitle">活动标题</div></div>
							</div>
						</div>
					</div>
					<div class="mcontright col-lg-3 col-md-3 col-sm-3 col-xs-12">
						<div class="mycontimg1" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover;margin-bottom:15px"><div class="botttitle">活动标题</div></div>
						<div class="mycontimg" style="background: url('../../common/img/images/img1.png'); background-position: 50%;background-size: cover"><div class="botttitle">活动标题</div></div>
					</div>
				</div>
				<div class="mcontbox clearfix mobox" style="display: none">
					<div class="col-xs-6 mb">
						<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
							<div class="botttitle">活动标题</div>
						</div>
					</div>
					<div class="col-xs-6 mb">
						<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
							<div class="botttitle">活动标题</div>
						</div>
					</div>
					<div class="monone myno" style="display: none">
						<div class="col-xs-6 mb">
							<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">活动标题</div>
							</div>
						</div>
						<div class="col-xs-6 mb">
							<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">活动标题</div>
							</div>
						</div>
						<div class="col-xs-6 mb">
							<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">活动标题</div>
							</div>
						</div>
						<div class="col-xs-6 mb">
							<div class="mycontimg" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">活动标题</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mnone" style="display: none"><img src="../../common/img/icon/zk.png" width="60" @click="zkmore($event)"></div>
			</div>
			<div class="manbox">
				<div class="mtitlebox"><h3>品牌新闻</h3></div>
				<div class="mcontbox clearfix mcontbox1">
					<div >
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
					</div>
					<div class="mobox1 clearfix myno">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mb">
							<div class="mycontimg2" style="background: url('../../common/img/images/img2.png'); background-position: 50%;background-size: cover">
								<div class="botttitle">新闻标题</div>
								<div class="toptime">2017.09.03</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mnone" style="display: none"><img src="../../common/img/icon/zk.png" width="60" @click="zkmore($event)"></div>
			</div>
        </div>
        <!--footer-->
        <footer-model></footer-model>	
    </div>
</div>
<script src="../../common/js/jquery-1.11.3.js"></script>
<script src="../../common/js/swiper.min.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="../../common/js/vue-resource.min.js"></script>
<script src="../../common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../common/js/public.js"></script>
<script src="js/common.js"></script>
<script>
    function browserRedirect() {
		var sUserAgent = navigator.userAgent.toLowerCase();
		var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
		var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
		var bIsMidp = sUserAgent.match(/midp/i) == "midp";
		var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
		var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
		var bIsAndroid = sUserAgent.match(/android/i) == "android";
		var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
		var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
		if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
		    var swiper = new Swiper('.swiper-container-nav', {
				slidesPerView: 4,
				spaceBetween: 30,
			});
		}else{
		    var swiper = new Swiper('.swiper-container', {
		        nextButton: '.swiper-button-next',
		        prevButton: '.swiper-button-prev',
		        slidesPerView: 6,
		        spaceBetween: 0,
		    });
		}
	}
	browserRedirect();
</script>
</body>
</html>