/*z_banner*/
.z_banner {
  width: 100%;
}
.z_banner img {
  max-height: 420px;
  width: 100%;
}
/*我的位置nav*/
.z_menu {
  margin-top: 20px;
}
.z_menu li {
  float: left;
  clear: right;
  font-size: 12px;
  font-weight: normal;
  padding: 0 1px;
}
.z_menu li a {
  color: #666666;
}
.z_menu li a:hover {
  color: #00dfb9;
}
/*AskQuestions*/
.questions_box {
  padding-top: 50px;
  margin-top: 10px;
  background: #fff;
  min-height: 710px;
}
.questions_box .title_txt {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #333333;
}
.questions_box .type_txt {
  width: 80%;
  margin: 0 auto;
  height: 150px;
  margin-top: 50px;
  position: relative;
}
.questions_box .type_txt textarea::-webkit-input-placeholder {
  color: #999999;
}
.questions_box .type_txt textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
.questions_box .type_txt textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
.questions_box .type_txt textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}
.questions_box .type_txt .wishContent {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  resize: none;
  padding: 20px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border: none;
  border-radius: 3px;
}
.questions_box .type_txt .wishContent:focus {
  border-color: #66afe9;
}
.questions_box .upload_box {
  position: relative;
  height: 40px;
  margin-top: 30px;
}
.questions_box .upload_box .upload_btn {
  line-height: 40px;
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.questions_box .upload_box .upload_btn img {
  padding-right: 5px;
}
.questions_box .upload_box .submit_btn {
  float: right;
  width: 120px;
  height: 40px;
  background: #00dfb9;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
}
.words {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 96px;
  font-size: 14px;
  font-weight: 600;
  color: #999999;
}
.words .wordsNum {
  font-size: 14px;
  font-weight: 700;
  color: #00dfb9;
  padding-right: 2px;
}
/*媒体查询*/
@media screen and (max-width: 700px) {
  .wishContent {
    font-weight: inherit!important;
  }
  .words {
    font-weight: inherit!important;
  }
  .words .wordsNum {
    font-weight: inherit!important;
  }
  .z_menu {
    padding-left: 10px;
    display: none;
  }
  .questions_box {
    width: 100%;
    padding: 0;
  }
  .questions_box .title_txt {
    padding-top: 20px;
    font-size: 16px ;
  }
  .questions_box .type_txt {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    position: relative;
    margin-top: 30px;
  }
  .questions_box .upload_box {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .questions_box .upload_box .submit_btn {
    height: 25px;
    width: 60px;
    font-size: 14px;
  }
  .questions_box .upload_box .upload_btn {
    line-height: 30px;
    font-size: 14px;
  }
  .questions_box .upload_box .upload_btn img {
    width: 20px;
  }
  .questions_box .fileUploadContent {
    width: 90%;
    margin: 0 auto;
  }
  .questions_box .fileUploadContent .fileItem {
    width: 120px;
  }
  .questions_box .fileUploadContent .fileItem .imgShow {
    width: 100px;
    height: 100px;
  }
  .questions_box .selectFileBt {
    font-size: 10px!important;
    padding: 7px!important;
  }
  .questions_box .iconfont {
    font-size: 25px!important;
    line-height: 28px!important;
  }
}
