.pd {
  padding: 0;
}
/*z_banner*/
.z_banner {
  width: 100%;
}
.z_banner img {
  max-height: 420px;
  width: 100%;
}
/*我的位置nav*/
.z_menu {
  margin-top: 2rem;
}
.z_menu li {
  float: left;
  clear: right;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0 0.1rem;
}
.z_menu li a {
  color: #666666;
}
.z_menu li a:hover {
  color: #00dfb9;
}
/*AskQuestions_a*/
.left_layout {
  background: #fff;
  padding: 4rem 3.2rem;
  margin-top: 1rem;
  padding-bottom: 100px;
  /*回答*/
  /*相关问题*/
}
.tips_info .w_item {
  margin-right: 35px;
}
.tips_info .font_color {
  font-size: 14px;
}
.bottom_txt {
  font-size: 14px;
  color: #999999;
}
.left_layout .questions-title {
  font-size: 2.4rem;
  font-weight: normal;
  color: #333333;
}
.left_layout .tips_info {
  margin-top: 35px;
  font-size: 14px;
  margin-bottom: 12px;
}
.left_layout .tips_info .l-left {
  float: left;
  color: #999999;
  font-size: 14px;
}
.left_layout .tips_info .l-center {
  float: left;
  color: #999999;
  font-size: 14px;
}
.left_layout .tips_info .l-vertical {
  float: left;
  color: #999999;
  font-size: 14px;
}
/*分页*/
.paging_box {
  margin-top: 30px;
}
.paging_box .button_btn {
  display: block;
  text-align: center;
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  background: #00dfb9;
  border-radius: 5px;
  float: right;
}
.bar_box {
  padding: 0 15px;
  margin-top: 20px;
  clear: both;
  height: 30px;
  background-color: #f4f4f4;
  margin-bottom: 15px;
}
.bar_box .color_active {
  color: #edb305;
}
.bar_box .txt_link {
  line-height: 30px;
  font-size: 12px;
  padding-right: 25px;
}
.bar_box .txt_link:hover {
  color: #edb305;
}
/*发布内容*/
.Publish_content_box .publish_content {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  clear: both;
}
.Publish_content_box .publish_content .item_list_left {
  height: 50px;
  float: left;
}
.Publish_content_box .publish_content .item_list_left img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.Publish_content_box .publish_content .item_list_center {
  float: left;
  height: 50px;
}
.Publish_content_box .publish_content .item_list_center .z_title {
  font-size: 16px;
}
.Publish_content_box .publish_content .item_list_center .z_title .color_red {
  color: #ff0000;
  font-size: 16px;
}
.Publish_content_box .publish_content .item_list_center .z_title .pd_5 {
  padding-left: 5px;
  font-size: 16px;
}
.Publish_content_box .publish_content .item_list_center .z_title .pd_5:hover {
  color: #00dfb9!important;
  text-decoration: underline!important;
}
.Publish_content_box .publish_content .item_list_center .z_title .icon_img img {
  margin-top: -4px;
  margin-left: 15px;
}
.Publish_content_box .publish_content .item_list_center .list_of {
  margin-top: 10px;
}
.Publish_content_box .publish_content .item_list_center .list_of li {
  margin-right: 35px;
}
.Publish_content_box .publish_content .item_list_center .list_of li .item_s {
  font-size: 14px;
  padding-left: 6px;
}
.Publish_content_box .publish_content .item_list_center .list_of li .font_color_9 {
  color: #999999;
}
.Publish_content_box .publish_content .item_list_center .list_of li .font_color_3 {
  color: #333333;
}
.Publish_content_box .publish_content .item_list_center .list_of li .font_color_6 {
  color: #666666;
}
.Publish_content_box .publish_content .item_list_center .list_of li .font_size {
  color: #666666;
}
.Publish_content_box .publish_content .item_list_right {
  height: 50px;
  float: right;
}
.Publish_content_box .publish_content .item_list_right .middle {
  display: table;
  float: left;
  margin-left: 15px;
}
.Publish_content_box .publish_content .item_list_right .tips_box {
  width: 56px;
  height: 50px;
  background: #f4f4f4 ;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.Publish_content_box .publish_content .item_list_right .tips_box .font_color_9 {
  color: #999999;
  vertical-align: middle;
}
.Publish_content_box .publish_content .item_list_right .tips_box .font_color_3 {
  color: #333333;
  vertical-align: middle;
}
.wap_block {
  display: none;
}
/*媒体查询*/
@media screen and (max-width: 700px) {
  .words {
    font-weight: inherit!important;
  }
  .words .wordsNum {
    font-weight: inherit!important;
  }
  .bottom_h {
    margin-bottom: 3rem;
  }
  .z_menu {
    padding-left: 1rem;
  }
  .z_menu {
    display: none;
  }
  .bg_fff {
    background: #fff;
  }
  .left_layout {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .left_layout .h1_questions {
    text-align: center;
    font-size: 1.6rem;
  }
  .left_layout .z-tips {
    font-size: 1.4rem;
  }
  .left_layout .z-tips .z_item {
    margin-right: 0;
    display: block;
    font-size: 1.4rem;
  }
  .left_layout .questions_box .type_txt .wishContent {
    background: #f4f4f4;
    font-weight: inherit;
  }
  .side_ht {
    overflow: hidden;
  }
  .right_content .tips_top .z_right {
    font-size: 1.4rem;
  }
  .right_content .tips_top {
    margin-top: 2px!important;
  }
  .right_content {
    padding: 0 15px!important;
  }
  .left_layout .tips_info {
    font-size: 12px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
  }
  .left_layout .tips_info .l-left {
    float: inherit;
    color: #666666;
  }
  .left_layout .tips_info .l-center {
    float: left;
    color: #666666;
  }
  .left_layout .tips_info .l-vertical {
    display: none;
  }
  .left_layout .tips_info .l-right {
    float: right;
    color: #666666;
  }
  .wap_none {
    display: none;
  }
  .wap_block {
    margin-bottom: 35px;
    display: block;
  }
  .wap_block .left_layout {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .wap_block .questions-title {
    padding: 20px 0;
    font-size: 1.8rem;
    text-align: center;
    background: #fff;
  }
  .wap_block .wap_button_btn {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #00dfb9;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .wap_publish_content .z_title {
    font-size: 16px;
  }
  .wap_publish_content .z_title .item_s {
    float: left;
  }
  .wap_publish_content .z_title .w_over {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
  }
  .wap_publish_content .z_title .color_red {
    color: #ff0000;
    font-size: 16px;
    margin-left: -8px;
  }
  .wap_publish_content .z_title .pd_5 {
    padding-left: 5px;
    font-size: 16px;
  }
  .wap_publish_content .z_title .icon_img img {
    margin-top: 3px;
    margin-left: 15px;
  }
  .bottom_info {
    margin-top: 30px;
    clear: both;
  }
  .bottom_info .font_color_6 {
    color: #666666;
    font-size: 12px;
  }
  .bottom_info .font_color_9 {
    color: #999999;
    font-size: 12px;
  }
  .bottom_info .item_in {
    display: inline-block;
    font-size: 12px;
  }
  .bottom_info .left_info {
    float: left;
  }
  .bottom_info .left_info .item_in {
    display: inline-block;
    margin-right: 10px;
  }
  .bottom_info .right_info {
    float: right;
  }
  .bottom_info .right_info .item_in {
    display: inline-block;
    margin-left: 10px;
  }
}
