body {
  overflow-x: hidden;
  background: #f4f4f4;
}
.manbox {
  padding: 20px 12px;
  background: #ffffff;
}
video {
  cursor: pointer;
}
.vediotitle {
  padding-left: 0;
}
.vediotitle ul {
  background: #f4f4f4;
  padding: 10px;
}
.vediotitle ul li {
  float: none;
}
.vediotitle ul li a {
  display: block;
  padding: 8px 24px;
  color: #666;
}
.vediotitle ul li a:hover {
  background: #00dfb9;
  color: #fff!important;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s ;
  -ms-transition: .3s ;
  transition: .3s ;
}
.videobox {
  padding-right: 0;
  height: 284px;
  overflow: hidden;
}
.myacbgd {
  background: #00dfb9;
  color: #fff!important;
}
.videoobj {
  height: 284px;
  background-position: 50%!important;
  background-size: cover!important;
}
.manboxcontimg {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
}
.manboxconttxt li {
  float: none;
  padding: 2px 0;
}
.manboxconttxt span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cccccc;
}
.manboxconttxt a {
  font-size: 12px;
  padding-left: 7px;
}
.manboxconttxt a:hover {
  color: #00dfb9;
}
.manboxtop {
  margin-bottom: 18px;
  border-bottom: 1px solid #ddd;
}
.manboxtop .manboxleft {
  font-size: 18px;
  border-bottom: 2px solid #00dfb9;
  padding-bottom: 12px;
}
.mox {
  height: 345px;
  overflow: hidden;
}
.manboxright a {
  color: #999;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}
.manboxright a:hover {
  color: #00dfb9;
}
.right_layout .float_bar_one {
  padding: 10px 10px 24px 10px;
  background: #fff;
}
.right_layout .float_bar_one .z_title {
  margin-top: 2rem;
}
.right_layout .float_bar_one .z_title a {
  border-bottom: 2px solid #00dfb9;
  color: #666666;
  padding-bottom: 0.3rem;
  font-size: 1.4rem;
}
.right_layout .float_bar_one ul {
  margin: 2rem 0 2.5rem 0;
}
.right_layout .float_bar_one ul li {
  width: 100%;
  margin-top: 1rem;
}
.right_layout .float_bar_one ul li .left_user {
  float: left;
  height: 3.2rem;
  margin-right: 1rem;
}
.right_layout .float_bar_one ul li .left_user img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
.right_layout .float_bar_one ul li .z_center {
  float: left;
  height: 3.2rem;
}
.right_layout .float_bar_one ul li .z_center .z_name {
  font-size: 1.2rem;
  /* color: #333333; */
}
.right_layout .float_bar_one ul li .z_center .z_professional {
  font-size: 1rem;
  color: #666666;
}
.right_layout .float_bar_one ul li .z_right_btn {
  float: right;
}
.right_layout .float_bar_one ul li .z_right_btn .btn_a {
  margin-top: 0.7rem;
  width: 54px;
  height: 18px;
  background-color: #00dfb9;
  border-radius: 5px;
  display: block;
  line-height: 18px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.right_layout .float_bar_one ul li .z_right_btn .btn_a {
  margin-top: 0.7rem;
  width: 54px;
  height: 18px;
  background-color: #00dfb9;
  border-radius: 5px;
  display: block;
  line-height: 18px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.right_layout .float_bar_two .z_title {
  margin-top: 2rem;
}
.right_layout .float_bar_two .z_title .f_l {
  float: left;
  /* clear: left; */
  border-bottom: 1px solid #ddd;
  padding-bottom: .3rem;
  /* margin-right: 10px; */
  width: 50%;
  text-align: center;
}
.maccss {
  border-bottom: 2px solid #00dfb9!important;
}
.right_layout .float_bar_two .z_title a {
  color: #666666;
  font-size: 1.4rem;
}
.right_layout .float_bar_two .z_title .f_r {
  float: right;
  clear: right;
  font-size: 1.2rem;
  line-height: 24px;
}
.right_layout .float_bar_two .z_title a {
  color: #666666;
  font-size: 1.4rem;
}
.right_layout .float_bar_two ul {
  margin-bottom: 5rem;
}
.right_layout .float_bar_two ul li {
  width: 100%;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.right_layout .float_bar_two ul li a {
  color: #999999;
}
.right_layout .float_bar_two ul li .qu_info {
  float: left;
  clear: left;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.right_layout .float_bar_two ul li .info_digital {
  text-align: right;
  float: right;
  clear: right;
  width: 30%;
}
.right_layout .float_bar_two ul li .info_digital .color_g {
  color: #00dfb9;
}
.right_layout .float_bar_two {
  margin-top: 2rem;
  padding: 10px 10px 24px 10px;
  background: #fff;
}
.copnbg {
  padding: 10px 10px 24px 10px;
  background: #ffffff;
  margin-bottom: 12px;
  text-align: center;
}
.rigt {
  margin: 18px 0;
}
.mbtn {
  border-radius: 0;
  background: none;
  border: 1px solid #00dfb9;
  color: #00dfb9;
}
@media screen and (max-width: 768px) {
  .right_layout,
  .manboxm {
    display: none;
  }
  a,
  .manboxright {
    font-size: 12px!important;
  }
}
@media screen and (max-width: 320px) {
  .myh > div {
    font-size: 12px;
    margin-right: 32px!important;
  }
  .ji {
    margin: 0 1px;
    padding: 0px 8px;
  }
  .contmain .bao {
    padding: 0px 9px;
  }
}
.myh > div {
  font-size: 12px;
  margin-right: 32px!important;
}
