.msgbox{
  background: #fff;
  padding:20px;
  margin:20px 0;
  position: relative;
  min-height: 100px;
  .msgleft{
    position: absolute;
    top:20px;
    left:20px;
    width:60px;
    height:60px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background: #ddd;
  }
  .msgcont{
    padding-left:80px;
  }
  a{
    text-decoration: none;
  }
  .msgconttop{
     span{
       color:#999;
       font-size:14px;
       margin-top: 10px;
     }
    .span{
      margin-top:0;
    }
    .h4{
      width:100px;
    }
  }
  .msgcontinfo{
    margin-top:10px;
    p{color:#666;}
  }
  .pl{
    span{
        margin:0 20px;
      samp{
        color:#00dfb9;
      }
    }
  }
}