[v-cloak] {
  display: none;
}
@cor: #0ab7c7;
@xxx:ma;
.bid_navBox{
  width: 100%;
  height: 40px;
  background: white;
  text-align: center;
  padding-top: 6px;
  border-bottom: 1px solid #000;
  ul{
    padding: 0 0 0 125px;
  }
  li{
    float: left;
    font-size: 16px;
    width: 102px;
    height: 30px;
    line-height: 30px;
    margin-right: 35px;
    color: #333333;
    cursor: pointer;
  }
  li:nth-child(7){
    margin-right: 0;
  }
  li:hover{
    color:#fff;
    background-color:@cor;
  }
}
.container_box{
  padding: 15px 10px;
  padding-bottom: 0;
  padding-right: 0;
  text-align: center;
  background: #fff;
  .item_1{
    width: 250px;
    float: left;
    .headline{
      background: #333333;
      line-height: 36px;
      padding-left: 20px;
      font-size: 16px;
      text-align: left;
      height: 36px;
      color: white;
      img{
        vertical-align: middle;
      }
      span{
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    .headline_container{
      height: 568px;
      border: solid 1px #e5e5e5;
      padding: 0 0 0 16px;
      .list{
        width: 218px;
        height: 48px;
        margin-top: 20px;
        .list_1{
          width: 100%;
          height: 24px;
          .radius{
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #999999;
          float: left;
        }
          .lei{
            float: left;
            font-size: 16px;
            line-height: 24px;
            margin-left: 9px;
            color: @cor;
          }
        }
        .list_2{
          margin-top: 15px;
          li{
            float: left;
            margin-left: 22px;
          }
          li:nth-child(1){
            margin-left: 12px;
          }
        }
      }
    }
    .headline_1{
      height: 36px;
      line-height: 36px;
      font-size: 16px;
      color: @cor;
      padding-left: 22px;
      text-align: left;
      margin-top: 17px;
      border: solid 1px #dcdcdc;
      background-color: #f4f4f4;
    }
    .headline_container_2{
      height: 305px;
      padding: 20px 12px;
      border: 1px solid #e5e5e5;
      ul{
        width: 100%;
        height:40px;
        li{
          height: 20px;
          line-height: 20px;
          margin-right: 10px;
          float: left;
          cursor: pointer;
          color: #666666;
        }
        li:nth-child(1){
          width: 44px;
          background-color: #ebf0f7;
        }
      }
    }
    .headline_container_3{
      height: 215px;
      border: 1px solid #e5e5e5;
      padding: 20px 12px;
      color: #666666;
      ul{
        width: 100%;
        height:35px;
        li{
          width: 55px;
          float: left;
          margin-left: 28px;
        }
        li:nth-child(1){
          margin-left: 0;
        }
      }
    }
  }
  .item_2{
    width: 680px;
    float: left;
    padding: 0 20px;
    .areabox{
      width: 660px;
      margin-top: 50px;
      .area{
        float: left;
        color: #232323;
        font-size: 14px;
      }
      ul{
        float: left;
        margin-left: 28px;
        color: #666666;
        li{
          width: 60px;
          float: left;
          margin-left: 19px;
          font-size: 14px;
          cursor: pointer;
        }
        li:nth-child(1){
          margin-left: 0;
        }
        li:hover{
          color: @cor;
          moz-user-select: -moz-none;
          -moz-user-select: none;
          -o-user-select:none;
          -khtml-user-select:none;
          -webkit-user-select:none;
          -ms-user-select:none;
          user-select:none;
        }
      }
    }
    .timebox{
      clear: both;
      padding-top: 18px;
      .area{
        float: left;
        color: #232323;
        font-size: 14px;
      }
      ul{
        float: left;
        margin-left: 28px;
        color: #666666;
        li{
          width: 60px;
          float: left;
          margin-left: 19px;
          font-size: 14px;
          cursor: pointer;
        }
        li:nth-child(1){
          margin-left: 0;
        }
        li:hover{
          color: @cor;
          moz-user-select: -moz-none;
          -moz-user-select: none;
          -o-user-select:none;
          -khtml-user-select:none;
          -webkit-user-select:none;
          -ms-user-select:none;
          user-select:none;
        }
      }
    }
    .txtContent{
      border: 1px solid #000;
      border-right: none;
      border-left: none;
      margin-top: 45px;
      padding:19px 0 31px 0;
      li{
        height: 38px;
        border-bottom: dashed 1px #959595;
        line-height: 38px;
        p{
          cursor: pointer;
          float: left;
          font-size: 14px;
        }
        p:nth-child(1){
          font-size: 14px;
          color: #333333;
        }
        p:nth-child(2){
          margin-left: 33px;
          width: 254px;
          color: #666666;
          font-size: 14px;
        }
        p:nth-child(3){
          margin-left: 102px;
          color: #666666;
          font-size: 14px;
        }
        p:nth-child(4){
          float: right;
          color: #999999;
        }
      }
    }
    .head{
      padding-top: 30px;
      height: 60px;
      padding-bottom: 10px;
      .head_1{
        font-size: 16px;
        width: 92px;
        padding-left: 13px;
        color: @cor;
        float: left;
      }
      .headb{
        width: 502px;
        margin-top: 15px;
        border: dashed 1px #0ab7c7;
        float: left;
      }
      .head_2{
        width: 45px;
        float: right;
        line-height: 22px;
        cursor: pointer;
        color: @cor;
        font-size: 12px;
      }
    }
    .head_Content{
      height: 240px;
      border: 2px solid @cor;
      border-left: none;
      border-right: none;
      padding: 14px 0;
      li{
        margin-top: 18px;
        height: 20px;
        p{
          float: left;
          font-size: 14px;
          color: #666;
          height: 20px;
          line-height: 20px;
          cursor: pointer;
        }
        p:nth-child(1){
          width: 6px;
          height: 6px;
          background-color: #dcdcdc;
          border-radius: 1px;
          margin-top: 7px;
          line-height: 20px;
        }
        p:nth-child(2){
          font-size: 16px;
          margin-left: 16px;
          width: 291px;
        }
        p:nth-child(3){
          font-size: 12px;
          margin-left:170px;
        }
        p:nth-child(4){
          font-size: 12px;
          float: right;
        }
      }
    }
    .head_fuck{
      border: none;
      border-bottom: dashed 2px #0ab7c7;
    }
  }
  .item_3{
    width: 20px;
    margin-top: -15px;
    height:2000px;
    background: rgb(238, 238, 238);
    float: left;
  }
  .item_4{
    width: 210px;
    float: left;
    .btn-primary{
      background: @cor;
      border: none;
      width: 85px;
    }
    .btn-primary:nth-child(1){
      margin-left: 12px;
    }
    .btn-primary:nth-child(2){
      margin-left: 10px;
    }
    .tenderbox{
      width: 190px;
      height: 262px;
      border: solid 1px #e5e5e5;
      margin-left: 12px;
      margin-top: 10px;
      .tender{
        width: 94px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: #666;
        float: left;
        cursor: pointer;
      }
      .active{
        background-color: #f9f9f9;
        border: solid 1px #e5e5e5;
        border-top:none ;
      }
      ul{
        margin-top: 47px;
        li{
          width: 94px;
          height: 49px;
          float: left;
          margin-top: 18px;
          p{
            width: 24px;
            margin: 0 auto;
            height: 24px;
            background-color: #666666;
            border-radius: 50%;
          }
          div{
            margin-top: 9px;
            font-size: 14px;
            color: #666;
          }
        }
      }
      .btn-info{
        width: 170px;
        background-color: #1a66f3;
        margin-top: 30px;
      }
    }
    .Hotline{
      width:190px;
      height: 65px;
      margin-bottom: 10px;
      background-color: #ffffff;
      border: solid 1px #e5e5e5;
      margin-left: 12px;
      margin-top: 10px;
      padding-left: 12px;
      .hotline_1{
        width: 60px;
        float: left;
        padding-top: 13px;
        div{
          font-size: 14px;
          color: #666;
          margin-top: 1px;
        }
      }
      .hotline_2{
        float: left;
        line-height: 65px;
        font-size: 16px;
        margin-left: 5px;
        color: #1a66f3;

      }
    }
    .xxx{
      width: 100%;
      height: 11px;
      background: rgb(238, 238, 238);
    }
    .fix{
      width: 190px;
      height: 30px;
      margin-left: 12px;
      background-color: #f4f4f4;
      margin-top: 10px;
      border: solid 1px #e5e5e5;
      padding: 0 10px;
      p{
        font-size: 14px;
        line-height: 30px;
        color: #666;
        float: left;
      }
      div{
        float:right;
        line-height: 30px;
        color: #1a66f3;
      };
    }
    .fixbiox{
      width: 200px;
      height: 198px;
      margin-left:12px;
      border: solid 1px #e5e5e5;
      margin-bottom: 12px;
      ul{
        padding:22px 0 19px 16px;
        li{
          text-align: left;
          margin-top: 12px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          width: 158px;
          cursor: pointer;
          span{
            padding-right: 10px;
          }
        }
        li:nth-child(1){
          margin-top: 0;
        }
      }
    }
  }
  .item_5{
    width: 902px;
    height: 300px;
    border: 1px solid black;
    float: left;
    margin-top: -394px;
    margin-left: 12px;
    .item_5_title{
      width: 100%;
      text-align:left;
      height: 35px;
      p{
        width: 4px;
        height: 24px;
        margin-top: 5px;
        background-color: #0ab7c7;
        float: left;
      }
      div{
        float: left;
        font-size: 14px;
        padding-left: 12px;
        margin-left: 2px;
        height: 35px;
        font-weight: normal;
        width: 98%;
        border-bottom:4px solid #0ab7c7 ;
        line-height: 35px;
        color: #333333;

      }
    }
    .item_5_content{
      width: 720px;
      height: 162px;
      margin: 0 auto;
      margin-top: 50px;
      ul{
        li{
          width: 142px;
          height: 52px;
          border: 0.5px solid #dcdcdc;
          padding: 3px 5px;
          float: left;
        }
      }
    }
  }
}