.myPanel .panel_2 .nav-11 li:nth-child(5) i {
  color: #0ab7c7;
}
.container_box {
  height: 1300px;
}
.container_box .head {
  margin: 20px;
  width: 95%;
  height: 34px;
  font-size: 24px;
  line-height: 21px;
  text-align: left;
  color: #0ab7c7;
  border-bottom: 1px solid #0ab7c7 ;
}
.container_box .content {
  margin: 24px 41px;
}
.container_box .content table :nth-child(1) {
  width: 100%;
}
.container_box .content table :nth-child(1) th {
  height: 32px;
  background-color: #0ab7c7;
  text-align: center;
  color: white;
  border: 1px solid#e5e5e5;
}
.container_box .content table :nth-child(1) th:nth-child(1) {
  width: 120px;
}
.container_box .content table :nth-child(1) th:nth-child(2) {
  width: 350px;
}
.container_box .content table :nth-child(1) th:nth-child(3) {
  width: 100px;
}
.container_box .content table :nth-child(1) th:nth-child(4) {
  width: 100px;
}
.container_box .content table :nth-child(1) th:nth-child(5) {
  width: 170px;
}
.container_box .content table :nth-child(1) tr td {
  width: 120px;
  height: 65px;
  cursor: pointer;
  border: 1px solid#eee;
  letter-spacing: 1px;
  color: #666666;
}
.container_box .content table :nth-child(1) tr td:nth-child(5) {
  width: 180px;
  color: #fbb03b;
}
.container_box .content .count {
  text-align: left;
  margin-top: 15px;
  color: #666666;
}
.container_box .content .count i {
  color: #fccc00;
}
