.myPanel .panel_2 .nav_box li:nth-child(4) i {
  color: #0ab7c7;
}
.container_box {
  height: 1000px;
}
.container_box .head {
  width: 900px;
  font-size: 24px;
  height: 35px;
  color: #0ab7c7;
  text-align: left;
  margin-left: 10px;
  border-bottom: 1px solid #0ab7c7;
}
.container_box .content {
  width: 649px;
  height: 687px;
  margin-left: 110px;
  margin-top: 50px;
}
.container_box .content li {
  text-align: left;
  margin-bottom: 35px;
}
.container_box .content li span {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #666666;
}
.container_box .content li span i {
  color: #0ab7c7;
}
.container_box .content li input {
  width: 210px;
  height: 30px;
  padding-left: 5px;
  margin-left: 4px;
}
.container_box .content li:nth-child(2) input,
.container_box .content li:nth-child(7) input {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-bottom: 1px;
}
.container_box .content li:nth-child(2) b,
.container_box .content li:nth-child(7) b {
  font-weight: normal;
  width: 80px;
  height: 12px;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #999999;
}
.container_box .content .editorBox {
  width: 558px;
  height: 251px;
  margin-left: 90px;
}
.container_box .content .code {
  text-align: left;
  margin-top: 50px;
  padding-left: 12px;
}
.container_box .content .code span {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #666666;
}
.container_box .content .save {
  width: 160px;
  height: 40px;
  background-color: #0ab7c7;
  border-radius: 2px;
  line-height: 40px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 20px auto;
  cursor: pointer;
}
.h5_box {
  display: none;
}
@media screen and (max-width: 768px) {
  .container_aaa {
    display: none;
  }
}
