.pd {
  padding: 0;
}
.wap_float {
  display: none;
}
/*z_banner*/
.z_banner {
  width: 100%;
}
.z_banner img {
  max-height: 420px;
  width: 100%;
}
/*我的位置nav*/
.z_menu {
  margin-top: 20px;
}
.z_menu li {
  float: left;
  clear: right;
  font-size: 12px;
  font-weight: normal;
  padding: 0 1px;
}
.z_menu li a {
  color: #666666;
}
.z_menu li a:hover {
  color: #00dfb9;
}
/*AskQuestions_a*/
.left_layout {
  background: #fff;
  padding: 40px 32px;
  margin-top: 10px;
  padding-bottom: 100px;
  /*回答*/
  /*相关问题*/
}
.bg_box {
  background: url(../../../common/img/images/bg-box.png) no-repeat;
  background-size: 100% 100%;
  height: 170px;
  position: relative;
  margin-top: 65px;
  padding: 0 40px;
  padding-top: 40px;
}
.bg_box p {
  font-size: 14px;
  color: #999999;
}
.bg_box .positon-title {
  position: absolute;
  background: #00dfb9;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  top: -20px;
  left: 40px;
}
.left_layout .questions-title {
  font-size: 24px;
  font-weight: normal;
  color: #333333;
}
.left_layout .tips_info {
  font-size: 12px;
  line-height: 60px;
}
.left_layout .tips_info .l-left {
  float: left;
  color: #666666;
}
.left_layout .tips_info .l-center {
  float: left;
  color: #666666;
}
.left_layout .tips_info .l-vertical {
  float: left;
  padding: 0 20px;
  color: #666666;
}
.left_layout .tips_info .l-right {
  float: right;
  color: #666666;
}
.left_layout .txt_p p {
  color: #999999;
  font-size: 14px;
  margin-top: 28px;
}
.left_layout .info_img {
  width: 100%;
  margin-top: 40px;
}
.left_layout .info_img img {
  width: 100%;
}
/*专家推荐*/
.right_layout {
  margin-top: 10px;
}
.right_layout .float_bar_one {
  padding: 0 15px;
  background: #fff;
}
.right_layout .float_bar_one .z_title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}
.swiper-container-s {
  overflow: hidden;
  background: #fff;
  position: relative;
}
.swiper-container-s .swiper-pagination-bullet-active {
  opacity: 1;
  background: #00dfb9;
}
.swiper-container-s .swiper-pagination {
  bottom: 60px!important;
}
.swiper-container-s img {
  width: 100%;
  padding: 0 20px;
}
.right_layout .list_one {
  font-size: 12px;
  line-height: 21px;
  color: #666666;
  padding: 0 20px;
  background: #fff;
  padding-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.right_layout .user_box_info {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.right_layout .user_box_info .img_user {
  float: left;
}
.right_layout .user_box_info .img_user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.right_layout .user_box_info .user_name {
  padding-left: 18px;
  float: left;
  display: table;
}
.right_layout .user_box_info .user_name .name {
  font-size: 16px;
}
.right_layout .user_box_info .user_name .region {
  font-size: 12px;
  color: #666666;
}
.right_layout .flex_box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.right_layout .flex_box .item {
  padding: 20px 0;
  width: 30%;
}
.right_layout .flex_box .item .font {
  font-size: 16px;
  color: #999999;
}
.right_layout .flex_box .item .font1 {
  font-size: 12px;
  color: #999999;
  padding-left: 2px;
}
.right_layout .money {
  padding: 30px 0;
  text-align: center;
}
.right_layout .money .font_size {
  font-size: 16px;
  color: #999999;
}
.right_layout .money .font_big {
  font-size: 30px;
  color: #666666;
}
.right_layout .btn_yy {
  display: block;
  width: 160px;
  height: 35px;
  background: #00dfb9;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 45px;
}
.wap_qus,
.slide_toggle {
  display: none;
}
.questions_box {
  padding-top: 50px;
  margin-top: 10px;
  background: #fff;
}
.questions_box .title_txt {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}
.questions_box .type_txt {
  width: 100%;
  margin: 0 auto;
  height: 150px;
  margin-top: 20px;
  position: relative;
}
.questions_box .type_txt textarea::-webkit-input-placeholder {
  color: #999999;
}
.questions_box .type_txt textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
.questions_box .type_txt textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
.questions_box .type_txt textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}
.questions_box .type_txt .wishContent {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  resize: none;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border: none;
  border-radius: 3px;
}
.questions_box .type_txt .wishContent:focus {
  border-color: #66afe9;
}
.questions_box .upload_box {
  position: relative;
  height: 40px;
  margin-top: 10px;
}
.upload_box .right_score .score_txt {
  float: left;
  line-height: 30px;
  color: #999999;
  font-size: 14px;
}
.upload_box .right_score .score {
  float: left;
}
.upload_box .right_score .score li {
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 15px;
  color: #999999;
  cursor: pointer;
}
.upload_box .right_score .score .active_score {
  background: #00dfb9;
  color: #fff;
}
.questions_box .upload_box .upload_btn {
  line-height: 40px;
  float: left;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.questions_box .upload_box .upload_btn img {
  padding-right: 5px;
}
.questions_box .upload_box .submit_btn {
  float: right;
  width: 100px;
  height: 30px;
  background: #00dfb9;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
}
.questions_box .textarea_ht {
  height: 80px;
  width: 100%;
  position: relative;
}
.questions_box .textarea_ht .words {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.mainboxcss {
  padding: 10px 10px 10px 50px;
}
.mainboxcss .comtop {
  color: #333;
  background: #f4f4f4;
  padding: 30px 0;
}
.mainboxcss .comtop li {
  text-align: center;
}
.mainboxcss .comtop samp {
  font-size: 24px;
  margin-left: 14px;
}
.mainboxcss .comtop span {
  color: #999999;
}
.comcont {
  margin: 30px 0;
}
.comtophead {
  width: 76px;
  height: 76px;
  border-radius: 50%;
}
.comcontboxl {
  position: absolute;
}
.comcontboxr {
  padding-left: 100px;
  width: 100%;
  min-height: 100px;
}
.mborder {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.comtopheadp {
  margin-bottom: 20px;
}
.combotcss {
  text-align: center;
  margin-top: 4px;
  color: #999;
}
.combotcss1 {
  color: #999999;
}
.smile {
  margin: -2px 0 0 3px;
}
.comcontbox {
  margin-bottom: 30px;
}
.float_box {
  width: 60px;
  padding-bottom: 20px;
  background: #fff;
  position: absolute;
  left: -80px;
  top: 0;
  text-align: center;
}
.float_box ul li {
  float: inherit;
  margin-top: 20px;
}
.float_box ul li .font {
  font-size: 12px;
  color: #999999;
  margin-top: 5px;
}
.wap_left {
  float: left;
}
.wap_right {
  float: left;
}
/*媒体查询*/
@media screen and (max-width: 700px) {
  .wap_left {
    float: inherit;
  }
  .wap_right {
    float: inherit;
  }
  .float_box {
    display: none;
  }
  .words {
    font-weight: inherit!important;
  }
  .words .wordsNum {
    font-weight: inherit!important;
  }
  .bottom_h {
    margin-bottom: 30px;
  }
  .z_menu {
    padding-left: 10px;
  }
  .right_layout {
    display: none;
  }
  .z_menu {
    display: none;
  }
  .bg_fff {
    background: #fff;
  }
  .left_layout {
    padding: 10px 15px 10px 15px;
  }
  .left_layout .h1_questions {
    text-align: center;
    font-size: 16px;
  }
  .left_layout .z-tips {
    font-size: 14px;
  }
  .left_layout .z-tips .z_item {
    margin-right: 0;
    display: block;
    font-size: 14px;
  }
  .left_layout .z-tips .wap_fl {
    float: left;
  }
  .left_layout .z-tips .wap_fr {
    float: right;
  }
  .left_layout .z-tips .item_right {
    display: none;
  }
  .left_layout .questions_box {
    background: #fff;
    width: 100%;
    padding: 0;
  }
  .left_layout .questions_box .upload_box {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .left_layout .questions_box .upload_box .submit_btn {
    height: 25px;
    width: 60px;
    font-size: 14px;
  }
  .left_layout .questions_box .upload_box .upload_btn {
    line-height: 30px;
    font-size: 14px;
  }
  .left_layout .questions_box .upload_box .upload_btn img {
    width: 20px;
  }
  .left_layout .questions_box .fileUploadContent {
    width: 90%;
    margin: 0 auto;
  }
  .left_layout .questions_box .fileUploadContent .fileItem {
    width: 110px;
  }
  .left_layout .questions_box .fileUploadContent .fileItem .imgShow {
    width: 100px;
    height: 100px;
  }
  .left_layout .questions_box .selectFileBt {
    font-size: 10px!important;
    padding: 7px!important;
  }
  .left_layout .questions_box .iconfont {
    font-size: 25px!important;
    line-height: 28px!important;
  }
  .left_layout .questions_box .type_txt {
    width: 100%;
  }
  .left_layout .questions_box .type_txt .wishContent {
    background: #f4f4f4;
    font-weight: inherit;
  }
  .left_layout .questions-title {
    font-size: 18px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .side_ht {
    overflow: hidden;
  }
  .right_content .tips_top .z_right {
    font-size: 14px;
  }
  .right_content .tips_top {
    margin-top: 2px!important;
  }
  .right_content {
    padding: 0 15px!important;
  }
  .left_layout .tips_info {
    font-size: 12px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
  }
  .left_layout .tips_info .l-left {
    float: left;
    color: #666666;
  }
  .left_layout .tips_info .wap_left .l-left {
    float: left;
  }
  .left_layout .tips_info .wap_left .l-center {
    float: right;
  }
  .left_layout .bg_box {
    margin-top: 0;
    background: #fff;
    padding: 20px 0 0 0;
    height: inherit;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .left_layout .bg_box .positon-title {
    position: inherit;
    top: 0;
    left: 0;
    width: 90px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .wap_float {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.04);
    background: #f4f4f4;
  }
  .wap_float .border_con {
    border-left: 1px solid #ddd ;
    border-right: 1px solid #ddd ;
  }
  .wap_float li {
    width: 33.333%;
    text-align: center;
  }
  .wap_float li a {
    display: block;
    color: #666666;
    font-size: 14px;
  }
  .wap_float li img {
    height: 20px;
    padding-right: 5px;
  }
  .left_layout .tips_info .wap_right .l-center_r {
    float: right;
  }
  .left_layout .tips_info .wap_right .l-center_ {
    float: left;
  }
  .left_layout .tips_info .img_none {
    display: none;
  }
  .left_layout .tips_info .l-center {
    float: left;
    color: #666666;
    margin-right: 10px;
  }
  .left_layout .tips_info .l-vertical {
    display: none;
  }
  .left_layout .tips_info .l-right {
    float: right;
    color: #666666;
  }
  .left_layout .txt_p p {
    color: #999999;
    font-size: 14px;
    margin-top: 15px;
  }
  .left_layout .info_img {
    margin-top: 20px;
  }
}
