<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../common/css/base.css"/>
    <link href="https://cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" type="text/css" href="css/build.css">
    <link rel="stylesheet" href="css/login.css"/>
    <title>登录</title>
</head>
<body>
<div v-cloak id="login">
    <div class="lunbo">
        <img src="../../common/img/icon/h5banner.png" width="100%">
    </div>
    <div class="content">
        <div class="login" v-if="state==1">
        <ul>
            <li :class="{atv:isShow==1}" @click="tab(1)">招标商</li>
            <li :class="{atv:isShow==2}" @click="tab(2)">投标商</li>
        </ul>
        <input type="text" placeholder="请输入账号" class="account">
        <input type="password" placeholder="请输入密码">
        <div class="login">登录</div>
        <div class="forget">
            <span><a @click="loader(3)">忘记密码？</a></span>
            <span><a @click="loader(2)">我要注册</a></span>
        </div>
        </div>
        <div class="register" v-else-if="state==2">
           <div class="reg">
               <div class="reg_1" style="height: 60px">
                   <p>用户类型：<span>*</span></p>
                   <div class="reg_right">
                       <select>
                       <option>请选择会员类型</option>
                   </select>
                       <div style="padding-left: 10px;margin-top: 5px;color: #666666;"><span style="color: #0ab7c7;font-size: 12px">*</span>号为必填项</div>
                   </div>
               </div>
               <div class="reg_1">
                   <p>用 户 名：<span>*</span></p>
                   <div class="reg_right">
                       <input type="text" placeholder="请输入用户名"/>
                   </div>
               </div>
               <div class="reg_1">
                   <p>输入密码：<span>*</span></p>
                   <div class="reg_right">
                       <input type="password" placeholder="请输入密码"/>
                   </div>
               </div>
               <div class="reg_1">
                   <p>确认密码：<span>*</span></p>
                   <div class="reg_right">
                       <input type="password" placeholder="请输入密码"/>
                   </div>
               </div>
               <div class="reg_1">
                   <p>电子邮箱：<span>*</span></p>
                   <div class="reg_right">
                       <input type="email" placeholder="请输入邮箱"/>
                   </div>
               </div>
               <div class="reg_1" style="height: 65px">
                   <p>公司名称：<span>*</span></p>
                   <div class="reg_right">
                       <input type="text" placeholder="请输入公司名称"/>
                       <div style="color: #666666;padding-left: 10px;margin-top: 5px;font-size: 12px">公司注册后名称不可修改</div>
                   </div>
               </div>
               <div class="reg_1" v-bind:style="{height:height + 'px' }">
                   <p>公司产品：<span>*</span></p>
                   <div class="reg_right reg_g">
                       <input type="text" placeholder="请输入公司产品" v-for="item in reg_input"/>
                       <div style="color:#0ab7c7;padding-left: 10px;height: 25px;line-height: 25px;font-size: 12px" @click="add">✚添加产品</div>
                   </div>
               </div>
               <div class="reg_1">
                   <p>所在省市：<span>*</span></p>
                   <div class="reg_right reg_gl">
                       <select>
                           <option>省份</option>
                       </select>
                       <select>
                           <option>城市</option>
                       </select>
                   </div>
               </div>
               <div class="reg_1">
                   <p>联 系 人：<span>*</span></p>
                   <div class="reg_right">
                       <input type="text" placeholder="请输入联系人"/>
                   </div>
               </div>
               <div class="reg_1">
                   <p>地&nbsp; &nbsp; 址：<span>*</span></p>
                   <div class="reg_right">
                       <input type="text" placeholder="请输入地址"/>
                   </div>
               </div>
            <div class="reg_1">
                <p>手 机 号：<span>*</span></p>
                <div class="reg_right">
                    <input type="text" placeholder="请输入手机号" maxlength="11"/>
                </div>
            </div>
           </div>
            <div class="checkbox checkbox-primary">
                <input id="checkbox2" class="styled" type="checkbox" checked>
                <label for="checkbox2" style="vertical-align: middle;color: #999;letter-spacing: 1px;font-size: 12px;line-height: 20px">
                    我接受并统一网站《用户服务条款》
                </label>
            </div>
            <div class="register_form">提交注册</div>
            <div class="register_ZZ">已有招投标账号？<Span @click="loader(1)">登录</Span></div>
            <div class="warmPrompt">
                <div>温馨提示：</div>
                <div>当您 <span>注册</span> 或 <span>登陆</span> 是出现了问题，<br/>请联系我们的服务热线：<br/><i>400-1234-5678</i><br/>我们会尽快帮您处理。</div>
            </div>
        </div>
        <div class="forgetPassword" v-else>
            <div class="forget_1"><img src="../../common/img/icon/yaoshi.png" height="25" style="vertical-align: middle"><span style="vertical-align: middle">找回密码</span></div>
            <div class="forgetBox">
                <div class="forget_w">
                    <input type="email" placeholder="请输入您的注册邮箱">
                    <div class="send" @click="getCode">{{text}}</div>
                </div>
                <div class="forget_Z">
                    <input type="text" placeholder="请输入邮箱验证码">
                    <input type="password" placeholder="请输入您的新密码">
                    <input type="password" placeholder="请再次确认密码">
                    <div class="save">提交</div>
                </div>
            </div>
        </div>
        </div>
</div>
<script src="../../common/js/jquery-1.11.3.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/mobile/layer.js"></script>
<script>
    /**
     * Created by Administrator on 2018/4/12.
     */
    new Vue({
        el: '#login',
        data:{
            isShow:1,
            reg_input:'1',
            height:70,
            count:'',
            text:'发 送',
            state:'1'
        },
        methods: {
          tab:function(cunt){
              this.isShow=cunt;
          },
          add:function(){
               this.reg_input+=1;
               this.height+=42;
               //提示
             /*  layer.open({
                   content: 'hello layer'
                   ,skin: 'msg'
                   ,time: 2 //2秒后自动关闭
               });*/
           },
          loader:function(evet){
              localStorage.setItem("state",evet);
              this.state=evet;
          },
          getCode:function(){
             const TIME_COUNT = 60;
                if (!this.timer) {
                    this.count = TIME_COUNT;
                    this.timer = setInterval(() => {
                         if (this.count > 1 && this.count <= TIME_COUNT) {
                        this.count--;
                        this.text='发 送('+this.count+')'
                    }else {
                        this.text='发 送';
                        this.flag=true;
                        clearInterval(this.timer);
                        this.timer = null;
                    }
                }, 1000)
                }
            }
        },
        mounted:function(){
            this.add();
            if(localStorage.getItem("state")){
                this.state=localStorage.getItem("state");
            }
        }
    });

</script>
</body>
</html>