<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的消息</title>
    <meta name="keywords" content="装修,加速器,托管,设计中心,招投标,项目管理,品牌加盟">
    <meta name="description" content="">
    <link href="../../common/img/icon/logo-icon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/css/swiper.min.css">
    <link rel="stylesheet" href="../../common/css/base.css"/>
    <link rel="stylesheet" href="css/myNews.css"/>
    <link rel="stylesheet" href="css/model.css"/>
</head>
<body>
<div class="container-fluid" v-cloak id="example">
    <sitenav></sitenav>
    <bid-nav></bid-nav>
    <div class="container-fluid" style="background: #eee">
        <div class="container container_aaa">
            <my-panel></my-panel>
            <div class="container_box">
                <div class="head">
                    <div :class="{active:isShow==true}" @click="tab(1)">商家消息</div>
                    <div :class="{active:isShow==false}" @click="tab(2)">系统消息</div>
                </div>
                <div class="content">
                    <div v-if="isShow==true">
                       <div class="head">
                           <ul>
                               <li>查看</li>
                               <li :class="{tive:cctv==1}" @click="sel(1)">全部</li>
                               <li :class="{tive:cctv==2}" @click="sel(2)">未读</li>
                               <li :class="{tive:cctv==3}" @click="sel(3)">已读</li>
                           </ul>
                       </div>
                        <ul class="listBox">
                            <li v-for="item in 10">
                                <input type="checkbox"/>
                                <span>欢迎注册招投标账号</span>
                                <span>未读</span>
                                <span>上午3:20</span>
                            </li>
                        </ul>
                        <div class="www">
                        <input type="checkbox"/><span>删除所选</span>
                        </div>
                    </div>
                    <div v-if="isShow==false">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h5_box" style="background: rgb(238, 238, 238)">
        <h5-nav></h5-nav>
        <h5-model></h5-model>
    </div>
    <!--mobile-->
    <div class="mobilebox" style="display: none;">
        <div class="msgmobiletitle">我的消息</div>
        <div class="mobilecont">
           <div class="msgbordr">
               <ul class="clearfix msgul">
                   <li class="pull-left">
                       <i>
                           <img src="../../common/img/icon/xticon.png" />
                       </i>
                       <a href="winmsd.html">
                           <div class="clearfix" style="padding-top: 5px;">
                               <b class="pull-left msgt">系统消息</b>
                               <span class="pull-right msgtime">下午3：20</span>
                           </div>
                           <p>欢迎注册招投标账号</p>
                       </a>
                   </li>
                   <li class="pull-left">
                       <i>
                           <img src="../../common/img/icon/sjmsg.png" />
                       </i>
                       <a>
                           <div class="clearfix" style="padding-top: 5px;">
                               <b class="pull-left msgt">商家消息</b>
                               <span class="pull-right msgtime">下午3：20</span>
                           </div>
                           <p>欢迎注册招投标账号</p>
                       </a>
                   </li>
               </ul>
           </div>
        </div>
    </div>
</div>
</body>
<script src="../../common/js/jquery-1.11.3.js"></script>
<script src="../../common/js/swiper.min.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="../../common/js/vue-resource.min.js"></script>
<script src="../../common/js/bootstrap.min.js"></script>
<script src="../../common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../common/js/public.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="../../common/js/distpicker.data.js"></script>
<script src="../../common/js/distpicker.js"></script>
<script src="../../common/js/main.js"></script>
<script type="text/javascript" src="js/model.js"></script>
<script>
    new Vue({
        el: '#example',
        data:{
            isShow:true,
            cctv:''
        },
        methods: {
            tab(ct){
                if(ct==1){
                    this.isShow=true
                }else {
                    this.isShow=false
                }
            },
            sel(sel){
              this.cctv=sel
            }
        },
        mounted:function(){

        }
    });

</script>
</html>