<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>供应链招标</title>
    <meta name="keywords" content="装修,加速器,托管,设计中心,招投标,项目管理,品牌加盟">
    <meta name="description" content="">
    <link href="../../common/img/icon/logo-icon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../../common/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/css/swiper.min.css">
    <link rel="stylesheet" href="../../common/css/base.css"/>
    <link rel="stylesheet" href="css/model.css"/>
    <link rel="stylesheet" href="css/supplyChain.css"/>
</head>
<body>
<div class="container-fluid" v-cloak id="example">
    <sitenav></sitenav>
    <bid-nav></bid-nav>
    <div class="container-fluid" style="background: #eee">
        <div class="container container_aaa">
            <div class="container_box">
                <div class="filter">
                    <div class="areabox">
                        <div class="area">招标方式</div>
                        <ul>
                            <li class="aitv">全部</li>
                            <li>供应链招标</li>
                        </ul>
                    </div>
                    <div class="areabox">
                        <div class="area">发布时间</div>
                        <ul>
                            <li class="aitv">全部</li>
                            <li>最近一天</li>
                            <li>最近三天</li>
                            <li>最近七天</li>
                            <li>最近一月</li>
                            <li>近一年</li>
                            <li>更久</li>
                        </ul>
                    </div>
                    <div class="input_box">
                        <select>
                            <option>全部地区</option>
                        </select>
                        <select>
                            <option>项目类别</option>
                        </select>
                        关键字 &nbsp;<input type="text" placeholder="">
                        <div class="search">搜索</div>
                    </div>
                    <div class="zzbox">
                        <div>最新发布</div>
                        <div>相关度 &nbsp;<img src="../../common/img/icon/jiantou.png"></div>
                        <div>供应链招标<span>搜索结果 <i>(8139)</i></span></div>
                    </div>
                </div>
                <div class="listBox">
                    <div class="listHead">
                        <span>项目名称</span>
                        <span>所在地区</span>
                        <span>业主类型</span>
                        <span>项目类别</span>
                        <span>发布日期</span>
                    </div>
                    <div class="list">
                        <div class="list-content" v-for="item in 15">
                            <div class="list_1">
                                <img src="../../common/img/icon/ygl.png">
                                <div>占地面积为33500平方米少年宫装修项目</div>
                                <div>需要VIP权限才能查阅！</div>
                            </div>
                            <div class="list_2">供</div>
                            <div class="list_3">山东</div>
                            <div class="list_4">政府</div>
                            <div class="list_5">休闲娱乐</div>
                            <div class="list_6">2018-03-06</div>
                        </div>
                    </div>
                </div>
            </div>
            <web-config></web-config>
        </div>
    </div>
    <div class="h5_box" style="background: rgb(238, 238, 238)">
        <h5-nav></h5-nav>
        <div class="areabox">
            <select>
                <option>招标方式</option>
                <option>推荐招标</option>
                <option>独家招标</option>
                <option>业主招标</option>
            </select>
            <select>
                <option>发布时间</option>
                <option>最近一天</option>
                <option>最近三天</option>
                <option>最近七天</option>
                <option>最近一月</option>
                <option>近一年</option>
                <option>更久</option>
            </select>
        </div>
        <div class="item1">
            <div class="selectbox">
                <select>
                    <option>全部地区</option>
                </select>
                <select>
                    <option>全部行业</option>
                </select>
            </div>
            <div class="searchBox">
                <div>关键字</div>
                <input type="text"/>
                <div>搜索</div>
                <div>成都最新招标预告<span>搜索结果<i>(8139)</i></span></div>
            </div>
            <ul class="bidList">
                <li v-for="item in 8">
                    <div class="list_1">
                        <img src="../../common/img/icon/ygl.png">
                        <div>四川优异建材有限公司采购大理石项目...</div>
                    </div>
                    <div class="list_2">
                        <div style="width: 100%">发布日期：2018-03-06</div>
                        <div>所在地区：<i>山东</i></div>
                        <div>业务类型：<i>政府</i></div>
                        <div>项目类型：<i>休闲娱乐</i></div>
                    </div>
                </li>
            </ul>
            <div class="more"><img src="../../common/img/icon/more.png" height="15px"></div>
        </div>
        <h5-model></h5-model>
    </div>
</div>
</body>
<script src="../../common/js/jquery-1.11.3.js"></script>
<script src="../../common/js/swiper.min.js"></script>
<script src="../../common/js/vue.js"></script>
<script src="../../common/js/vue-resource.min.js"></script>
<script src="../../common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../common/js/public.js"></script>
<script type="text/javascript" src="js/model.js"></script>
<script>
    new Vue({
        el: '#example',
        data:{

        },
        methods: {

        },
        mounted:function(){
            $('.areabox li').click(function(){
                $(this).addClass('aitv').siblings().removeClass('aitv')
            })
        }
    });
</script>
</html>