body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var,i { font-weight: normal; font-style: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
ul{list-style: none;padding:0;margin: 0;}
a:hover{text-decoration:none;}
a{text-decoration:none;}
*{
    font-family: MicrosoftYaHei;
    font-size: 62.5%;
}
.container-fluid{
    padding: 0;
}
/*siteNav*/
@media screen and (max-width: 768px) {
    /*.siteNav{
        display: none;
    }*/
    .l_header .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0.8;
    }

}
.siteNav{
     display: none;
 }
.siteNav .dropdown .btn{
   background:none;
   padding: 6px 2px;
}
.siteNav .dropdown .btn img{
    vertical-align: top;
}
.siteNav .place{
    padding-left: 0;
}
.siteNav .siteNav_welcome{
    line-height: 34px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #666666;
}
.siteNav_right{
    text-align: right;
}
.siteNav .siteNav_welcome a:nth-child(1){
    color: #00dfb9;
}
.siteNav .siteNav_welcome a:nth-child(2){
    color: #666666;
}
/* header */
.l_header{
    height: 11.6rem;
}
.l_header .navbar{
    margin-bottom: 0;
    z-index: 99;
}
.l_header .navbar-default{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    border:none;
    border-radius: inherit;
    height: 100%;
}
.l_header .navbar-default .container{
    height: 100%;
}
.l_header .navbar-header{
    height: 100%;
}
.l_header .navbar-brand{
    height:5.6rem;
    margin-top: 2rem;
    width: 20.4rem;
    padding:0;
    background: url("../img/icon/logo.png")no-repeat center;
}
.l_header .navbar-default .navbar-nav{
    margin-top: 3.4rem;
}
.l_header .navbar-default .navbar-nav>li>a{
    color: white;
    font-size: 1.6rem;
    font-weight: normal;
}
.l_header .header-swiper-container{
    position: relative;
    top: -11.6rem;
}
.l_header .header-swiper-container .swiper-slide img{
    width: 100%;
}
/*footer*/
.footer{
    background-color: #4e4848;
    height: 21.4rem;
}
.footer .footerBox{
    color: white;
    padding-top: 7.8rem;
    font-size: 1.4rem;
    text-align: center;
}
.footer .footerBox span{
    padding:0 1.5rem ;
}
.footer .footerBox span:nth-child(1){
    padding-left: 0;
}
.footer .footerBox span a{
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}
.footer .footerBox span a:hover{
    color: #2ccaaf;
}
.footer .Copy{
    font-size: 1.4rem;
    padding:3rem 0;
}
.modal_tip{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 999;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal_box{
    width: 380px;
    height: 400px;
    margin: 0 auto;
    margin-top:20rem;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    color: #999999;
}
.modal_box .modal_close{
    width: 100%;
    height: 32px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
.modal_box .modal_close img{
    cursor: pointer;
}
.modal_box .modal_title{
    width: 100%;
    height: 70px;
    padding-top: 14px;
    padding-bottom: 36px;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: 0px;
    color: #00dfb9;
}
.modal_box input{
    margin: 0 auto;
    width: 286px;
    height:38px;
}
.modal_box .passWord{
    margin-top: 20px;
}
.modal_box .state{
    margin: 28px auto;
    width: 286px;
    height:38px;
}
.modal_box .checkbox{
    width: 15px;
    height: 15px;
    margin-top: 1px;
    float: left;
    cursor:pointer;
}
.modal_box .state span{
    float: left;
}
.modal_box .state div{
    cursor: pointer;
    float: right;
}
.modal_box .state div:hover{
    color: #00dfb9;
}
.modal_box .login {
    background-color: #00dfb9;
    width: 286px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 1.6rem;
    font-weight: inherit;
    margin: 0 auto;
    margin-bottom: 25px;
    cursor: pointer;
}
.modal_box .register{
    width: 100%;
    text-align: right;
    padding-right: 58px;
}
.modal_box .register span{
    color: #00dfb9;
    cursor: pointer;
}